footer {
  background-image: url('./img/form-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  flex-direction: column;
  //position: relative;
  color: #3c3c3c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;

  //border:1px solid black;

}
footer .footerContact {
  width: 40%;
  padding: 20px;
  //flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 40px;
  //border:1px solid black;
  //position: absolute;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form .form-group {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}


form .form-50 {
  width: 50%;
}

form.form--contact input,
form.form--contact textarea {
  padding: 8px 12px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  background: transparent;
  resize: none;
  font-size: 16px;
  outline: none;
  color: #3c3c3c;
  max-width: none;
  margin-top: 20px;
}

footer .footerContact h3 {
  padding: 0 15px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: left;
  width: 100%;
}

footer .bottom-line {
  //width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.fb {
  background-image: url("./img/fb.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.insta {
  background-image: url("./img/insta.png");
  width: 20px;
  height: 20px;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;


}

//.copy {
//  padding-left: 300px;
//}

.contactBtn{
  font-size: 16px;
  padding: 10px 10px;
  margin: 30px;
  border: 1px solid #3c3c3c;
  text-align: center;
  width: 120px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.contact-decoration-image {
  width: 100%;
  min-height: 25px;
  background-image: url('./img/ornament.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 60px;
}