.log {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width:30%;
  font-family: "Open Sans", sans-serif;
  margin:100px 0;
  padding-top: 50px;
  //border: 1px solid black;
  h2 {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .reset-password {
    border: none;
   float: right;

  }
  .btn {
      font-size: 14px;
      //padding: 10px 10px;
      //margin: 30px;
      text-align: center;
      width: 120px;
      height: 40px;
      background: transparent;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-style: normal;

  }

}
.form-group input {
  padding: 8px 12px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  background: transparent;
  resize: none;
  font-size: 16px;
  outline: none;
  color: #3c3c3c;
  max-width: none;
  margin-top: 20px;
}