.bttn {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 0 80px;
  margin: 0 20px;
  border: 1px solid #3c3c3c;
  width: 140px;
  height: 60px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;

}

/* Podwietlanie na żółto*/
.bttn:hover {
  border-color: #f9c910;
}

.startHelp {
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  padding: 50px;
  width: 70%;
}

 h1 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
}

 .startHelp-btns {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 70px;
  width: 100%;
   a{
     text-decoration: none;
     &:hover {
       text-decoration: none;
     }
   }
}

.about-decoration-image {
  width: 100%;
  height: 25px;
  background-image: url('./img/ornament.png');
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0;
}

