.grey {
    width: 80%;
    height: 300px;
    background-color: grey;
}

/*.grey {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: url("img/btn-zaloguj-widok-niezalogowany.jpg") no-repeat center;*/
/*    background-size: contain;*/

/*}*/