.yellow {
    width: 80%;
    height: 200px;
    background-color: yellow;
}

/*.yellow {*/
/*    width: 41%;*/
/*    height: 41%;*/
/*    background: url("img/pasek-info.jpg") no-repeat center;*/
/*    background-size: contain;*/
/*    text-align: center;*/

/*}*/