* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*modules*/
@import './modules/mixins';
@import './modules/reset';
@import './modules/all';


/*partials*/
@import './partials/AboutUs';
@import './partials/Contact';
@import './partials/Foundations';
@import './partials/FourSteps';
@import './partials/Header';
@import './partials/Login';
@import 'partials/StartHelp';
@import './partials/Menu';
@import './partials/YellowBar';
@import './partials/Log';
@import './partials/Registration';
@import './partials/SharingSteps';
@import './partials/Step1';
@import './partials/Step2';
@import './partials/Step3';
@import './partials/Step4';
@import './partials/Step5';
@import './partials/ThingsSharings';
@import './partials/Signed';
